body {
    font-family: 'Open Sans', sans-serif;
    /*========================================================*/
    /*This pattern is downloaded from www.subtlepatterns.com*/
    /*If you need more, that's where to get'em.*/
    /*========================================================*/
    background: url("../../img/always_grey.png");
}

.bg-36 {
    background: #363636;
}

.navbar-brand img {
    height: 50px;
}

.container {
    background: #ffffff;
    padding: 15px;
}

h1 {
    font-size: 2.1rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2vh;
}

.tac {
    text-align: center;
}

form.login {
    margin: auto;
}

.book {
    border: 1px solid #000000;
    margin: 2vh;
    padding: 2%;
}

.book img {
    width: 100%;
    height: auto;
}

.book .title, .chart-list .title {
    font-size: 1.1rem;
}

.book .author, .chart-list .author {
    font-size: 0.9rem;
}

.book .price, .chart-list .price {
    color: #ca0e0e;
    font-weight: 600;
    font-size: 1.2rem;
}

.btn-add {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    color: #ffffff;
    background: #ca0e0e;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-add:hover {
    color: #ffffff;
    text-decoration: none;
    background: #b90d0d;
}

.chart-list {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 2px;
}

.container .chart-list:nth-child(2){
    border-top: 1px solid rgba(0,0,0,0.3);
}

.chart-list img {
    width: 100%;
}

.chart-list .book-info  {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.chart-amount {
    font-size: 1.2rem;
    text-align: right;
    padding: 15px 40px 15px 0;
}

.btn-add.mo {
    width: 20%;
    margin: 5px auto 0;
}

.remove-link, .remove-link:hover {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
}

.search-form {
    margin: auto;
}

.search-form button {
    background: #ffffff;
    border: 1px solid #000000;
    padding: 3px 8px;
}

.search-form input {
    padding: 3px;
    border: 1px solid #000000;
}

.btn-add.disabled {
    background: #333 !important;
    color: #aaa;
}

.footer {
    background: #363636;
    color: #ffffff;
    text-align: center;
}


a.del {
    color: #f44242;
}

a.add {
    color: #55c92e;
}

.form-admin input, .form-admin select {
    width: 30%;
    margin: auto;
}

.form-admin label {
    margin-bottom: unset;
    margin-top: .5rem;
}

input.btn-add {
    border: none;
}
