body {
    font-family: 'Open Sans', sans-serif;
    /*========================================================*/
    /*This pattern is downloaded from www.subtlepatterns.com*/
    /*If you need more, that's where to get'em.*/
    /*========================================================*/
    background: url("../../img/always_grey.png");
}

.bg-36 {
    background: #363636;
}

.navbar-brand img {
    height: 50px;
}

.container {
    background: #ffffff;
}

h1 {
    font-size: 2.1rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2vh;
}
